@media screen and (max-width:500px){
    .display-flex{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;

    }
    .banner-container .banner-title{
        font-size: 50px;
        padding-bottom: 10px;
    }
    .btn-primary{
        width: 160px;
        height: 55px;   
    }
    .banner-bg-img{
        max-width: 100%;
    }
    .banner-img{
        width: 324px;
        margin: 0 auto;
    }
    /* Fetured section*/
    .Fetured-title{
        font-size: 30px;
    }
    
    .Fetured-description{
        font-size: 16px;
    }
    .Fetured-content-containner .Fetured-content{
        max-width: 394px;
        
    }
    .img-card{
        width: 364px;
        height: 438px;
        border-radius: 300px 300px 0px 0px;
        position: relative;
        
    }
    .image-6{
        position: absolute;
        top: 0px;
        left: px;
    }
    .Flower-name{
        margin-top: 32px;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        color: rgb(39, 39, 39);
    
    }
}